/**
 * Custom palette here.
 *
 * ref：https://vuepress-theme-blog.ulivz.com/config/palette.html
 */

// colors
$accentColor = #1f436e

$textColor = #2c3e50
$darkTextColor = #333

$borderColor = rgba($darkTextColor,.05)
$darkBorderColor = $darkTextColor

$codeBgColor = $darkTextColor

$bgColor = #fff
$headerBgColor = $bgColor;

$footerBgColor = #fff
$footerColor = $darkTextColor

$newsletterBgColor = #f8f8f8

// layout
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
